<div class="page-header">
  <h1>Seller #<%= @seller.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Seller</dt>
  <dd><%= @seller.seller_id %></dd>

  <dt>Image url</dt>
  <dd><%= @seller.image_url %></dd>

  <dt>Seller username</dt>
  <dd><%= @seller.seller_username %></dd>

  <dt>Seller first name</dt>
  <dd><%= @seller.seller_first_name %></dd>

  <dt>Seller last name</dt>
  <dd><%= @seller.seller_last_name %></dd>

  <dt>Seller email</dt>
  <dd><%= @seller.seller_email %></dd>

  <dt>Seller birthdate</dt>
  <dd><%= @seller.seller_birthdate %></dd>

  <dt>Seller level of education</dt>
  <dd><%= @seller.seller_level_of_education %></dd>

  <dt>Seller industry</dt>
  <dd><%= @seller.seller_industry %></dd>

  <dt>Seller marital status</dt>
  <dd><%= @seller.seller_marital_status %></dd>

  <dt>Seller children</dt>
  <dd><%= @seller.seller_children %></dd>

</dl>
