<div class="page-header">
  <h1>Answer #<%= @answer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Answer 1</dt>
  <dd><%= @answer.answer_1 %></dd>

  <dt>Answer 2</dt>
  <dd><%= @answer.answer_2 %></dd>

  <dt>Answer 3</dt>
  <dd><%= @answer.answer_3 %></dd>

  <dt>Answer 4</dt>
  <dd><%= @answer.answer_4 %></dd>

  <dt>Answer 5</dt>
  <dd><%= @answer.answer_5 %></dd>

  <dt>Questionnaire</dt>
  <dd><%= @answer.questionnaire_id %></dd>

  <dt>Buyer</dt>
  <dd><%= @answer.buyer_id %></dd>

  <dt>Seller</dt>
  <dd><%= @answer.seller_id %></dd>

  <dt>Comment</dt>
  <dd><%= @answer.comment %></dd>

</dl>
