<div class="page-header">
  <h1>Companies</h1>
</div>

<p><a href="/companies/new" class="btn btn-primary">Add a New Company</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Company name</th>
      <th>Company industry</th>
      <th>Company number of employees</th>
      <th>Company taxid</th>
      <th>Company revenue current year</th>
      <th>Company revenue last year</th>
      <th>Company revenue 2 year</th>
      <th>Company ebitda</th>
      <th>Company years in business</th>
      <th>Seller</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_id %></td>
        <td><%= company.company_name %></td>
        <td><%= company.company_industry %></td>
        <td><%= company.company_number_of_employees %></td>
        <td><%= company.company_taxid %></td>
        <td><%= company.company_revenue_current_year %></td>
        <td><%= company.company_revenue_last_year %></td>
        <td><%= company.company_revenue_2_year %></td>
        <td><%= company.company_EBITDA %></td>
        <td><%= company.company_years_in_business %></td>
        <td><%= company.seller_id %></td>
        <td>
          <a href="/companies/<%= company.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/companies/<%= company.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_company/<%= company.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

