<div class="page-header">
  <h1>Company #<%= @company.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Company</dt>
  <dd><%= @company.company_id %></dd>

  <dt>Company name</dt>
  <dd><%= @company.company_name %></dd>

  <dt>Company industry</dt>
  <dd><%= @company.company_industry %></dd>

  <dt>Company number of employees</dt>
  <dd><%= @company.company_number_of_employees %></dd>

  <dt>Company taxid</dt>
  <dd><%= @company.company_taxid %></dd>

  <dt>Company revenue current year</dt>
  <dd><%= @company.company_revenue_current_year %></dd>

  <dt>Company revenue last year</dt>
  <dd><%= @company.company_revenue_last_year %></dd>

  <dt>Company revenue 2 year</dt>
  <dd><%= @company.company_revenue_2_year %></dd>

  <dt>Company ebitda</dt>
  <dd><%= @company.company_EBITDA %></dd>

  <dt>Company years in business</dt>
  <dd><%= @company.company_years_in_business %></dd>

  <dt>Seller</dt>
  <dd><%= @company.seller_id %></dd>

</dl>
