<div class="page-header">
  <h1>Questionnaires</h1>
</div>

<p><a href="/questionnaires/new" class="btn btn-primary">Add a New Questionnaire</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Questionnaire name</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer 4</th>
      <th>Answer 5</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Company</th>
      <th>Questionnaire name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.questionnaire_name %></td>
        <td><%= questionnaire.answer_1 %></td>
        <td><%= questionnaire.answer_2 %></td>
        <td><%= questionnaire.answer_3 %></td>
        <td><%= questionnaire.answer_4 %></td>
        <td><%= questionnaire.answer_5 %></td>
        <td><%= questionnaire.buyer_id %></td>
        <td><%= questionnaire.seller_id %></td>
        <td><%= questionnaire.company_id %></td>
        <td><%= questionnaire.questionnaire_name %></td>
        <td>
          <a href="/questionnaires/<%= questionnaire.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/questionnaires/<%= questionnaire.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_questionnaire/<%= questionnaire.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

