<div class="page-header">
  <h1>Add Questionnaire</h1>
</div>

<% if @questionnaire.errors.any? %>
  <% @questionnaire.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_questionnaire" class="form-horizontal">
  <!-- Label and input for questionnaire_name -->
  <div class="form-group">
    <label for="questionnaire_name" class="col-sm-2 control-label">
      Questionnaire name
    </label>
    <div class="col-sm-10">
      <input type="text" id="questionnaire_name" name="questionnaire_name" placeholder="Questionnaire name" class="form-control" value="<%= @questionnaire.questionnaire_name %>">
    </div>
  </div>

  <!-- Label and input for answer_1 -->
  <div class="form-group">
    <label for="answer_1" class="col-sm-2 control-label">
      Answer 1
    </label>
    <div class="col-sm-10">
      <input type="text" id="answer_1" name="answer_1" placeholder="Answer 1" class="form-control" value="<%= @questionnaire.answer_1 %>">
    </div>
  </div>

  <!-- Label and input for answer_2 -->
  <div class="form-group">
    <label for="answer_2" class="col-sm-2 control-label">
      Answer 2
    </label>
    <div class="col-sm-10">
      <input type="text" id="answer_2" name="answer_2" placeholder="Answer 2" class="form-control" value="<%= @questionnaire.answer_2 %>">
    </div>
  </div>

  <!-- Label and input for answer_3 -->
  <div class="form-group">
    <label for="answer_3" class="col-sm-2 control-label">
      Answer 3
    </label>
    <div class="col-sm-10">
      <input type="text" id="answer_3" name="answer_3" placeholder="Answer 3" class="form-control" value="<%= @questionnaire.answer_3 %>">
    </div>
  </div>

  <!-- Label and input for answer_4 -->
  <div class="form-group">
    <label for="answer_4" class="col-sm-2 control-label">
      Answer 4
    </label>
    <div class="col-sm-10">
      <input type="text" id="answer_4" name="answer_4" placeholder="Answer 4" class="form-control" value="<%= @questionnaire.answer_4 %>">
    </div>
  </div>

  <!-- Label and input for answer_5 -->
  <div class="form-group">
    <label for="answer_5" class="col-sm-2 control-label">
      Answer 5
    </label>
    <div class="col-sm-10">
      <input type="text" id="answer_5" name="answer_5" placeholder="Answer 5" class="form-control" value="<%= @questionnaire.answer_5 %>">
    </div>
  </div>

  <!-- Label and input for buyer_id -->
  <div class="form-group">
    <label for="buyer_id" class="col-sm-2 control-label">
      Buyer
    </label>
    <div class="col-sm-10">
      <input type="text" id="buyer_id" name="buyer_id" placeholder="Buyer" class="form-control" value="<%= @questionnaire.buyer_id %>">
    </div>
  </div>

  <!-- Label and input for seller_id -->
  <div class="form-group">
    <label for="seller_id" class="col-sm-2 control-label">
      Seller
    </label>
    <div class="col-sm-10">
      <input type="text" id="seller_id" name="seller_id" placeholder="Seller" class="form-control" value="<%= @questionnaire.seller_id %>">
    </div>
  </div>

  <!-- Label and input for company_id -->
  <div class="form-group">
    <label for="company_id" class="col-sm-2 control-label">
      Company
    </label>
    <div class="col-sm-10">
      <input type="text" id="company_id" name="company_id" placeholder="Company" class="form-control" value="<%= @questionnaire.company_id %>">
    </div>
  </div>

  <!-- Label and input for questionnaire_name -->
  <div class="form-group">
    <label for="questionnaire_name" class="col-sm-2 control-label">
      Questionnaire name
    </label>
    <div class="col-sm-10">
      <input type="text" id="questionnaire_name" name="questionnaire_name" placeholder="Questionnaire name" class="form-control" value="<%= @questionnaire.questionnaire_name %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Questionnaire" class="btn btn-primary">
    </div>
  </div>
</form>
