<div class="page-header">
  <h1>Questionnaire #<%= @questionnaire.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Questionnaire name</dt>
  <dd><%= @questionnaire.questionnaire_name %></dd>

  <dt>Answer 1</dt>
  <dd><%= @questionnaire.answer_1 %></dd>

  <dt>Answer 2</dt>
  <dd><%= @questionnaire.answer_2 %></dd>

  <dt>Answer 3</dt>
  <dd><%= @questionnaire.answer_3 %></dd>

  <dt>Answer 4</dt>
  <dd><%= @questionnaire.answer_4 %></dd>

  <dt>Answer 5</dt>
  <dd><%= @questionnaire.answer_5 %></dd>

  <dt>Buyer</dt>
  <dd><%= @questionnaire.buyer_id %></dd>

  <dt>Seller</dt>
  <dd><%= @questionnaire.seller_id %></dd>

  <dt>Company</dt>
  <dd><%= @questionnaire.company_id %></dd>

  <dt>Questionnaire name</dt>
  <dd><%= @questionnaire.questionnaire_name %></dd>

</dl>
