<div class="page-header">
  <h1>Buyer #<%= @buyer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image url</dt>
  <dd><img src="<%= @buyer.image_url %>" width ="60"></dd>

  <dt>Buyer</dt>
  <dd><%= @buyer.buyer_id %></dd>

  <dt>Buyer username</dt>
  <dd><%= @buyer.buyer_username %></dd>

  <dt>Buyer first name</dt>
  <dd><%= @buyer.buyer_first_name %></dd>

  <dt>Buyer last name</dt>
  <dd><%= @buyer.buyer_last_name %></dd>

  <dt>Buyer email</dt>
  <dd><%= @buyer.buyer_email %></dd>

  <dt>Buyer net worth</dt>
  <dd><%= @buyer.buyer_net_worth %></dd>

  <dt>Buyer birthdate</dt>
  <dd><%= @buyer.buyer_birthdate %></dd>

  <dt>Buyer level of education</dt>
  <dd><%= @buyer.buyer_level_of_education %></dd>

  <dt>Buyer preferred industry</dt>
  <dd><%= @buyer.buyer_preferred_industry %></dd>

  <dt>Buyer marital status</dt>
  <dd><%= @buyer.buyer_marital_status %></dd>

</dl>
